config.js

#*:Zone.Identifier


*.pmtiles
*.geojson
*.geojson.gz
*.pbf
*.fgb
*.json
*.gpkg

# Ignore virtual environment
unfallkarte_env/
accident_data/
schrott/



# !accidents_11-12.pmtiles
# !accidents_12-13.pmtiles
# !combined.pmtiles

